<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134712540788-usd2ovj55jnpomhj4o6ga85k7m45qckf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134712540788-usd2ovj55jnpomhj4o6ga85k7m45qckf</string>
	<key>API_KEY</key>
	<string>AIzaSyDfpqMG2MjoNk77aqEJkuT19wkUkjgzOOY</string>
	<key>GCM_SENDER_ID</key>
	<string>134712540788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ts.promotionPlatform</string>
	<key>PROJECT_ID</key>
	<string>loyalty-fcfae</string>
	<key>STORAGE_BUCKET</key>
	<string>loyalty-fcfae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134712540788:ios:a1249811b6ba5cca619b21</string>
	<key>DATABASE_URL</key>
	<string>https://loyalty-fcfae.firebaseio.com</string>
</dict>
</plist>